{% extends 'blog/base_blog.html' %}

{% block title %}
    Создать запись - {{ block.super }}
{% endblock %}


{% block content %}

    <form action="{% url 'post_create_url' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div>
                {% if field.errors %}
                    <div>
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field }}
            </div>

        {% endfor %}
        <button>Создать запись</button>
    </form>


{% endblock %}
